# Dependencies
node_modules/

# clasp credentials (JANGAN di-commit)
.clasprc.json
.clasp.json

# Logs
*.log
npm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Env
.env
.env.*
.task.md
